.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center; 
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: darkolivegreen;
  height: 45px;
}
/*
navigation inside hea
*/

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 0;
  //background: green;
  list-style: none;
  
  padding-left: 0;
  width: 100%
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}
.navigation li:first-child {
  margin-right: auto;
}

.navigation a:hover {
  background: black;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

.main {
  text-align: left;
  background: white;
}

.aside-1 {
  text-align: center;
  background: teal;
}

.aside-2 {
  text-align: left;
  background: teal;
}

.footer {
  background: lightgreen;
}


@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

body {
   margin: 0; /* Remove default margin */
  padding: 0; 
}


@media all and (min-width: 600px) {
    .navigation {
    //flex-flow: column wrap;
    padding: 0;
  }
    .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }
    .navigation li:last-of-type a {
    border-bottom: none;
  }
  .aside { flex: 1 0 0; }
}

//for posts inside main


.flex-container {
  /* We first create a flex layout context */
  display: flex;
  
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
 flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  background: tomato;
  padding: 5px;
  //width: 200px;
  height: 150px;
  margin-top: 5px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: left;
}
